app-template:
  controllers:
    bazarr:
      pod:
        securityContext:
          runAsUser: 2000
          runAsGroup: 2000
          runAsNonRoot: true
          fsGroup: 2000
          fsGroupChangePolicy: "OnRootMismatch"

      containers:
        app:
          image:
            repository: ghcr.io/home-operations/bazarr
            tag: 1.5.5
          env:
            TZ: Europe/Berlin
          #envFrom:
          #  - secretRef:
          #      name: bazarr
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health
                  port: &port 6767
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

  service:
    app:
      controller: bazarr
      type: LoadBalancer
      ports:
        http:
          port: *port

  persistence:
    config:
      storageClass: config
      accessMode: ReadWriteOnce
      size: 5Gi
    tmp:
      type: emptyDir
    data:
      type: nfs
      server: 192.168.2.117
      path: /mnt/nfs/data